body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: green;
    font-size: 3rem;
    margin-top: 1rem;
}

.container {
    background-color: #eee;
    width: 15%;
    position: absolute;
    height: 100%;
    padding: 10px;
    top: 0;
}

#left-container {
    left: 0;
}

#right-container {
    right: 0;
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
}

.plant {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

/* 테라리움 병 스타일 */
#terrarium {
    position: relative;
    height: 80vh;
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 3rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}

.jar-top {
    width: 50%;
    height: 5%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
    
}

.jar-bottom {
    width: 50%;
    height: 1%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}

.dirt {
    width: 60%;
    height: 5%;
    background: #3a241d;
    position: absolute;
    border-radius: 0 0 3rem 3rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: -1;
}


.jar-glossy-long {
    width: 10%;
    height: 60%;
    background: white;
    position: absolute;
    left: 5%;
    top: 20%;
    border-radius: 1rem;
    opacity: 0.2;
}

.jar-glossy-short {
    width: 5%;
    height: 30%;
    background: white;
    position: absolute;
    left: 15%;
    top: 40%;
    border-radius: 1rem;
    opacity: 0.2;
}

#terrarium {
    position: relative;
    z-index: 0; /* 병이 기준이 되도록 */
}

.plant {
    z-index: 1;
    position: absolute;
    cursor: grab;
}


/* 반응형 대응 */
@media (max-width: 768px) {
    #left-container, #right-container {
        position: static;
        width: 100%;
        height: auto;
    }

    .plant-holder {
        height: auto;
    }
}

